.widget {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 1.5rem;
  color: #fff;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
h4 {
  margin-bottom: 1rem;
}

.activityContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.activityH1{
  color: rgb(221, 221, 221);
}

.activityP{
  color: rgb(203, 203, 203);
}